.search .searchItem
{

   display: flex;
   flex-direction: column;
}
.searchItem
{
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;

}
.siImg
{
    width: 330px;
    height: 300px;
    object-fit: cover;

}
.siDesc
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.siTitle
{
    font-size: 20px;
    color: #0071c2;
}
.siDistance
{
    font-size: 14px;
}
.siTaxi
{
    font-size: 14px;
    background-color: #008009;
    color: white;
    width: max-content;
    padding: 3px;
    border-radius: 4px;
}
.siTaxiDetails
{
    flex: 1;
}
.siSubTitle
{
    font-weight: 600;
}
.siCancel
{
    color: green;
    font-weight: 700;
}
.siCancelSubtitle
{
    color: green;
    font-size: 16px;
}
.siRating
{
    display: flex;
    justify-content: space-between;
}
.siRating span
{
    font-weight: 600;
}
.siRating button
{
    background-color: #003580;
    color: white;
    padding: 3px;
    border: none;
}
.siDetailTexts
{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.siPrice2
{
    font-weight: 700;
}
.siTaxi2
{
    color:green;
    font-weight: 700;
}
.checkBtn
{
    background-color:#003580;
    height: 30px;
    color: white;
    border: none;
    font-size: 16px;
    cursor:pointer;
    border-radius: 10px;
}