.footer
{
    width: 100%;
    max-width: 1024px;
    font-size: 12px;
    margin-left: 100px;
}
.fLists
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.fList
{
    list-style: none;
}
.fListItem
{
   color: #003580;
   margin-bottom: 10px;
   cursor: pointer;
    
}